.about-us {
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0;

    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .team-grid {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center; 
    }

    .team-member {
        display: flex;
        flex-direction: column;    
        align-items: center;       
        text-align: center;        
        width: 150px;            
        margin-bottom: 30px;       
    }

    .team-member img {
        width: 50px;               
        height: 50px;              
        border-radius: 50%;        
        object-fit: cover;         
        margin-bottom: 10px;       
    }

    h1 {
        font-size: 3rem;  
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    h2 {
        font-size: 2.5rem;  
        font-weight: bold;
        margin-bottom: 18px;
        margin-top: 10px;
    }

    h3 {
        font-size: 2rem;  
        font-weight: bold;
        margin-bottom: 16px;
        margin-top: 10px;
    }

    h4 {
        font-size: 1.75rem;  
        font-weight: bold;
        margin-bottom: 14px;
        margin-top: 10px;
    }

    h5 {
        font-size: 1.5rem;  
        font-weight: bold;
        margin-bottom: 12px;
        margin-top: 10px;
    }

    h6 {
        font-size: 1.25rem;  
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    section {
        margin-bottom: 40px;
        transition: background-color 0.3s ease-in-out; 
        padding: 20px;
        border-radius: 8px; 
        background-color: rgba(214, 216, 219, 0.1); 
    }

    .intro:hover {
        background-color: rgba(255, 99, 71, 0.2);  
    }

    .mission:hover {
        background-color: rgba(70, 130, 180, 0.2); 
    }

    .what-we-do:hover {
        background-color: rgba(34, 193, 195, 0.2); 
    }

    .approach:hover {
        background-color: rgba(255, 140, 0, 0.2);  
    }

    .impact:hover {
        background-color: rgba(255, 223, 186, 0.2); 
    }

    .team:hover {
        background-color: rgba(0, 255, 127, 0.2);  
    }

    .join-us:hover {
        background-color: rgba(255, 165, 0, 0.2);  
    }

    .connect:hover {
        background-color: rgba(148, 0, 211, 0.2); 
    }

    .intro, .mission, .what-we-do, .approach, .impact, .team, .join-us {
        background-color: rgba(214, 216, 219, 0.1);
    }

    .connect{
        border-radius: 10px;
        padding: 10px;
    }
}
