.footer {
    background-color: #c2d6f3;
    padding: 2rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;       
    padding-top: 0;
    border: 1px solid blue;



    

&:hover {
    background-color: #92b1f0;
 }
}

.footerTop{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20rem;
}

.footerLinks, .footerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
      
}

.footerLinks {
    margin-right: 1rem;
    margin-left: 12rem; 
}
.footerSection {
    margin-right: 1rem;
    margin-left: 9rem;
}

.footerBottom {
    margin-left: 15rem;
    margin-top: 30px;
    text-align:center ;
    border-top: 1px solid #444;
}

.social-container {
    display: flex;
    justify-content: center; 
    gap: 30px;
    margin-top: 20px;
  }
  
  .social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
  }
  