.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  box-sizing: border-box;
  margin-bottom: 0;
  padding-bottom: 0;
  min-height: 80vh;
  margin-right: 130px;


}

.main {
    flex: 1;
    max-width: 800px;
    background-color: #0a0a0a;
    padding: 20px 50px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    text-align: center;
  }

  .main > :first-child {
    margin-top: 0;
  }
  
  .main > :last-child {
    margin-bottom: 0;
  }
  
  
  
  
  .leftside-img {
    max-width: 400px;
    max-height: 40vh;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    border-radius: 2px;
    flex-shrink: 0;
    position: relative;
    top: -1px;
  }


.actionButt{
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;

}

.butt {
  width: 30%;
  font-size: 100%;
  font-weight: 500;
}


  .rightlogo{
    max-width: 400px;
    max-height: 30vh;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    flex-shrink: 0;

  }


  .h1{
    font-size: 150%;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }


   .p1{
    font-size: 100%;
    font-weight:400;

  }

  .page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

  }
  
  .main-wrapper {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  